<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agrilogi.insurancepredictor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_square"
        android:supportsRtl="true"
        android:theme="@style/Theme.InsurancePredictor">
        <activity android:name=".CalculatingActivity"/>
        <activity android:name=".RecommendedActivity" />
        <activity android:name=".form.Form6Activity" />
        <activity android:name=".form.Form5Activity" />
        <activity android:name=".HowActivity" />
        <activity android:name=".form.Form4Activity" />
        <activity android:name=".form.Form3Activity" />
        <activity android:name=".form.Form2Activity" />
        <activity android:name=".form.Form1Activity" />
        <activity android:name=".WaitingActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>